#container{
  background-color:#AAA;
  width:100%;
  height:100%;
  margin:0 auto;
  overflow:hidden;
}
#toolbar{
  padding:3px;
  height:20;
  width:100%;
}
#toolbar_extra{
  margin-top: 20px;
  visibility: collapse;
  height:0;
}
#filters{
  padding:3px;
}
#filters_extra{
  visibility: collapse;
  height:0;
  padding-top: 5px;
  margin-top: -2px;
}
#cards{
  height:100%;
  width: 80%;
  float:left;
}
.card{
  float:left;
  background-size:100%; 
  background-repeat:no-repeat; 
  color:white;

}
#deck{
  width:20%;
  height:100%;
  float:right;
  padding-top:3px;
}
#cardtype{
  border-radius: 15px;
  padding-left:5px;
  padding-right: 5px;
  border:1px solid black;
  margin:2px;
  cursor:pointer;
}
#sources{
  width:50%;
  border-radius: 15px;
  padding-left:5px;
  padding-right: 5px;
  border:1px solid black;
  margin:2px;
  padding:4px;
}
.optiongroup{
  width: 25%;
  border-radius: 15px;
  padding-left:5px;
  padding-right: 5px;
  border:1px solid black;
  margin:2px;
  padding:4px;
}
#icon{
  cursor:pointer;
  opacity:0.4;
}
#searchopts{
  cursor:pointer;
}
#arrowprev{
  float:left;
  cursor:pointer;
  left:1%;
  position:absolute;
  background-color:#FF0000;
  opacity: 0.5;
  z-index: 9;
}
#arrownext{
  float:right;
  cursor:pointer;
  right:21%;
  position:absolute;
  background-color:#00FF00;
  opacity: 0.5;
  z-index: 9;
}
.decksection{
  display: inline-block; 
  width:90%;
  border:1px solid black;
  border-radius: 15px;
}
#deckname{
  font-size: 20px;
}
#searchbox{
  vertical-align: top;
  line-height: 26px;
  border-radius: 15px;
  border: 1px black solid;
  padding-left:5px;
  padding-right:5px;
}
#raceresult{
  display:inline-block;
  background-color: #CCC;
  border-radius: 15px;
  padding-left:5px;
  padding-right: 5px;
  border:1px solid black;
  margin:2px;
  cursor:pointer;
}
#setresult{
  display:inline-block;
  background-color: #CCC;
  border-radius: 15px;
  padding-left:5px;
  padding-right: 5px;
  border:1px solid black;
  margin:2px;
  cursor:pointer;
}
button{
  border-radius: 15px;
  border: 1px solid black;
}
